Source: golang-github-klauspost-reedsolomon
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders:
 Free Ekanayaka <freee@debian.org>,
 Roger Shimizu <rosh@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-golang,
 golang-any,
 golang-github-klauspost-cpuid-dev (>= 2.0.6)
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/klauspost/reedsolomon
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-klauspost-reedsolomon
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-klauspost-reedsolomon.git
XS-Go-Import-Path: github.com/klauspost/reedsolomon
Testsuite: autopkgtest-pkg-go

Package: golang-github-klauspost-reedsolomon-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-github-klauspost-cpuid-dev (>= 2.0.6)
Description: Reed-Solomon Erasure Coding in Go
 Reed-Solomon Erasure Coding in Go, with speeds exceeding 1GB/s/cpu core
 implemented in pure Go.
 .
 This is a golang port of the JavaReedSolomon library released by
 Backblaze (http://backblaze.com), with some additional optimizations.
